<header>
		<% logo = image_tag("logo.png", :alt => "PAMPA", :class => "round") %>
		<%= link_to logo, root_path %>
		<nav class="round">
			<ul>
				<li><%= link_to "Accueil", root_path %></li>
				<li><%= link_to "Aide", help_path %></li>
				<% if user_signed_in? %>
					<%= current_user.nom %>
					<%= link_to "Profil", current_user %>
					<li><%= link_to "Deconnexion", destroy_user_session_path, :method => :delete %></li>
				<% else %>
					<li><%= link_to "S'identifier", new_user_session_path %></li> 
				<% end %>
			</ul>
		</nav>
</header>
	